<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openhis.workflow.mapper.ActivityDefinitionMapper">

    <select id="getAppointActivityDefinitionId" resultType="long">
        SELECT ID
        FROM wor_activity_definition
        WHERE delete_flag = '0'
          AND status_enum = #{status}
          AND NAME = #{skinTestInspection} LIMIT 1
    </select>

</mapper>