<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openhis.web.payment.mapper.PaymentMapper">

    <select id="getPage" resultType="com.openhis.web.payment.dto.PaymentDto">
        SELECT T1.id,
               T1.status_enum,
               T1.relation_id,
               T1.payment_no,
               T1.payment_enum,
               T1.payment_reconciliation_id,
               T1.kind_enum,
               T1.enterer_id,
               T1.issuer_enum,
               T1.patient_id,
               T1.practitioner_id,
               T1.outcome_enum,
               T1.location_id,
               T1.expiration_date,
               T1.tendered_amount,
               T1.returned_amount,
               T1.display_amount,
               T1.print_count,
               T1.contract_no,
               T1.charge_item_ids,
               T1.encouter_id,
               T1.yb_clear_flag,
               T1.account_id,
               T1.tenant_id,
               T1.delete_flag,
               T1.create_by,
               T1.create_time,
               T1.update_by,
               T1.update_time
        FROM (SELECT t.relation_id,
                     t.status_enum,
                     t.payment_no,
                     t.payment_enum,
                     t.payment_reconciliation_id,
                     t.kind_enum,
                     t.enterer_id,
                     t.issuer_enum,
                     t.patient_id,
                     t.practitioner_id,
                     t.outcome_enum,
                     t.location_id,
                     t.expiration_date,
                     t.tendered_amount,
                     t.returned_amount,
                     t.display_amount,
                     t.print_count,
                     t.contract_no,
                     t.charge_item_ids,
                     t.encouter_id,
                     t.yb_clear_flag,
                     t.account_id,
                     t.tenant_id,
                     t.delete_flag,
                     t.create_by,
                     t.create_time,
                     t.update_by,
                     t.update_time
              FROM fin_payment_reconciliation t
              WHERE 1 = 1
              ORDER BY create_time) as T1
            ${ew.customSqlSegment}
    </select>
    <select id="getPaymentDetailList" resultType="com.openhis.web.payment.dto.PaymentDetailDto">
        SELECT
            id,
            predecessor_id,
            target_enum,
            account_id,
            account_enum,
            pay_enum,
            pay_level_enum,
            amount,
            return_amount,
            charge_amount,
            pay_trans_no,
            pay_trans_text,
            pay_trans_date,
            before_balance,
            after_balance,
            result_enum,
            tenant_id,
            delete_flag,
            create_by,
            create_time,
            update_by,
            update_time
        FROM fin_payment_rec_detail WHERE
            predecessor_id = #{id}
    </select>
</mapper>