<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openhis.clinical.mapper.ConditionMapper">

    <delete id="deleteByEncounterId">
        DELETE
        FROM cli_condition
        WHERE ID IN (SELECT condition_id FROM adm_encounter_diagnosis WHERE encounter_id = #{encounterId})
          AND tcm_flag = 0
    </delete>

    <delete id="deleteTcmByEncounterId">
        DELETE
        FROM cli_condition
        WHERE ID IN (SELECT condition_id FROM adm_encounter_diagnosis WHERE encounter_id = #{encounterId})
          AND tcm_flag = 1
    </delete>

</mapper>