<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openhis.web.inventorymanage.mapper.ProductTransferMapper">

    <select id="selectProductTransferPage"
            resultType="com.openhis.web.inventorymanage.dto.ProductTransferPageDto">
        SELECT T2.id,
               T2.bus_no AS supply_bus_no, -- 商品调拨单据号
               T2.item_table,              -- 项目(药品类型)
               T2.status_enum,             -- 单据状态
               T2.source_location_name,    -- 源仓库名称
               T2.purpose_location_name,   -- 目的仓库名称
               T2.approver_id,             -- 审批人ID
               T2.approval_time,           -- 审批时间
               T2.applicant_id,            -- 申请人ID
               T2.create_time              -- 创建时间
        FROM (SELECT T1.id,
                     T1.bus_no,
                     T1.status_enum,
                     T1.approver_id,
                     T1.approval_time,
                     T1.applicant_id,
                     T1.create_time,
                     T1.item_table,
                     T2."name" AS source_location_name,     -- 源仓库
                     T3."name" AS purpose_location_name     -- 目的仓库
              FROM wor_supply_request AS T1
                   LEFT JOIN adm_location T2
                             ON T1.source_location_id = T2.id
                   LEFT JOIN adm_location T3
                             ON T1.purpose_location_id  = T3.id
              WHERE type_enum = #{productTransfer}
              GROUP BY T1.id,
                       T1.bus_no,
                       T1.status_enum,
                       T1.approver_id,
                       T1.approval_time,
                       T1.applicant_id,
                       T1.create_time,
                       T1.item_table,
                       T2."name",
                       T3."name"
              ORDER BY T1.bus_no desc
            ) AS T2
        ${ew.customSqlSegment}
    </select>
    <select id="selectDetail" resultType="com.openhis.web.inventorymanage.dto.ProductTransferDetailDto">
        SELECT T1.id,
               T1.bus_no,              -- 商品调拨单据号
               T1.apply_time,          -- 申请时间
               T1.source_type_enum,    -- 源仓库类型
               T5."name" AS source_location_name,          -- 源仓库
               T6."name" AS source_location_store_name,    -- 源仓位
               T1.purpose_type_enum,   -- 目的仓库类型
               T7."name" AS purpose_location_name,          -- 目的仓库
               T8."name" AS purpose_location_store_name,    -- 目的货位
               T1.item_table,          -- 项目(药品类型)
               T2."name" AS item_name, -- 药品名称
               T3.total_volume,        -- 规格
               T4."name" AS supplier_name,                  -- 供应商名称
               T1.unit_code,           -- 物品计量单位
               T1.item_quantity,       -- 调拨数量
               T1.price,               -- 采购单价
               T1.total_price,         -- 总价
               T1.lot_number,          -- 产品批号
               T1.start_time,          -- 开始时间
               T1.end_time,            -- 结束时间
               T1.trace_no,            -- 追溯码
               T1.reason,              -- 理由
               T1.sell_price,          -- 售价
               T1.min_sell_price,      -- 拆零售价
               (SELECT COALESCE(SUM(CASE
                                        WHEN T1.unit_code = T9.base_unit_code THEN T9.base_quantity
                                        WHEN T1.unit_code = T9.min_unit_code THEN T9.min_quantity
                                        ELSE 0 END ), 0)
                   FROM wor_inventory_item T9
                   WHERE T9.item_id = T1.item_id
                     AND T9.location_id = T1.source_location_id
                     AND T9.location_store_id = T1.source_location_store_id
               ) AS total_source_quantity,     -- 总库存数量(源库存)
               (SELECT COALESCE(SUM(CASE
                                        WHEN T1.unit_code = T9.base_unit_code THEN T9.base_quantity
                                        WHEN T1.unit_code = T9.min_unit_code THEN T9.min_quantity
                                        ELSE 0 END ), 0)
                   FROM wor_inventory_item T9
                   WHERE T9.item_id = T1.item_id
                     AND T9.location_id = T1.purpose_location_id
                     AND T9.location_store_id = T1.purpose_location_store_id
               ) AS total_purpose_quantity     -- 总库存数量(目的库存)
        FROM wor_supply_request T1
            LEFT JOIN med_medication_definition T2
                ON T1.item_id = T2.id
            LEFT JOIN med_medication T3
                ON T3.medication_def_id = T2.id
            LEFT JOIN adm_supplier T4
                ON T4.id = T1.supplier_id
            LEFT JOIN adm_location T5
                ON T1.source_location_id = T5.id
            LEFT JOIN adm_location T6
                ON T1.source_location_store_id  = T6.id
            LEFT JOIN adm_location T7
                ON T1.purpose_location_id = T7.id
            LEFT JOIN adm_location T8
                ON T1.purpose_location_store_id  = T8.id
            LEFT JOIN wor_inventory_item T9
                ON T1.item_id = T9.item_id
                    AND T1.purpose_location_id = T9.location_id
                    AND T1.purpose_location_store_id = T9.location_store_id
        WHERE T1.bus_no = #{busNo}
            AND T1.delete_flag = '0'
        UNION
        SELECT T1.id,
               T1.bus_no,              -- 商品调拨单据号
               T1.apply_time,          -- 申请时间
               T1.source_type_enum,    -- 源仓库类型
               T5."name" AS source_location_name_location_name,          -- 源仓库
               T6."name" AS source_location_name_location_store_name,    -- 源仓位
               T1.purpose_type_enum,   -- 目的仓库类型
               T7."name" AS purpose_location_name,          -- 目的仓库
               T8."name" AS purpose_location_store_name,    -- 目的货位
               T1.item_table,          -- 项目(药品类型)
               T2."name" AS item_name, -- 药品名称
               T2."size" AS total_volume,                   -- 规格
               T4."name" AS supplier_name,                  -- 供应商名称
               T1.unit_code,           -- 物品计量单位
               T1.item_quantity,       -- 调拨数量
               T1.price,               -- 采购单价
               T1.total_price,         -- 总价
               T1.lot_number,          -- 产品批号
               T1.start_time,          -- 开始时间
               T1.end_time,            -- 结束时间
               T1.trace_no,            -- 追溯码
               T1.reason,              -- 理由
               T1.sell_price,          -- 售价
               T1.min_sell_price,      -- 拆零售价
               (SELECT COALESCE(SUM(CASE
                                        WHEN T1.unit_code = T9.base_unit_code THEN T9.base_quantity
                                        WHEN T1.unit_code = T9.min_unit_code THEN T9.min_quantity
                                        ELSE 0 END ), 0)
                FROM wor_inventory_item T9
                WHERE T9.item_id = T1.item_id
                  AND T9.location_id = T1.source_location_id
                  AND T9.location_store_id = T1.source_location_store_id
               ) AS total_source_quantity,     -- 总库存数量(源库存)
               (SELECT COALESCE(SUM(CASE
                                        WHEN T1.unit_code = T9.base_unit_code THEN T9.base_quantity
                                        WHEN T1.unit_code = T9.min_unit_code THEN T9.min_quantity
                                        ELSE 0 END ), 0)
                FROM wor_inventory_item T9
                WHERE T9.item_id = T1.item_id
                  AND T9.location_id = T1.purpose_location_id
                  AND T9.location_store_id = T1.purpose_location_store_id
               ) AS total_purpose_quantity     -- 总库存数量(目的库存)
        FROM wor_supply_request T1
                 LEFT JOIN adm_device_definition T2
                           ON T1.item_id = T2.id
                 LEFT JOIN adm_supplier T4
                           ON T4.id = T1.supplier_id
                 LEFT JOIN adm_location T5
                           ON T1.source_location_id = T5.id
                 LEFT JOIN adm_location T6
                           ON T1.source_location_store_id  = T6.id
                 LEFT JOIN adm_location T7
                           ON T1.purpose_location_id = T7.id
                 LEFT JOIN adm_location T8
                           ON T1.purpose_location_store_id  = T8.id
                 LEFT JOIN wor_inventory_item T9
                           ON T1.item_id = T9.item_id
                               AND T1.purpose_location_id = T9.location_id
                               AND T1.purpose_location_store_id = T9.location_store_id
        WHERE T1.bus_no = #{busNo}
          AND T1.delete_flag = '0'
    </select>
</mapper>