<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openhis.web.cliniccharge.mapper.ChargeItemBizMapper">

    <select id="getChargeItemPage" resultType="com.openhis.web.cliniccharge.dto.ChargeItemPageDto">
        SELECT
            id
            ,status_enum
            ,patient_id
            ,encounter_id
            ,quantity_value
            ,quantity_unit
            ,unit_price
            ,total_price
            ,service_table
            ,service_id
        FROM adm_charge_item
            ${ew.customSqlSegment}
    </select>
</mapper>