package ${packageName}.domain;

import java.math.BigDecimal;
import java.util.Date;

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;

import com.core.common.core.domain.HisBaseEntity;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;

/**
 * ${functionName}Entity实体
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@TableName("${tableName}")
@Accessors(chain = true)
@EqualsAndHashCode(callSuper = false)
public class ${ClassName} extends HisBaseEntity {

#foreach ($column in $columns)
    /** $column.columnComment */
    #if(1==$column.sort)
    @TableId(type = IdType.ASSIGN_ID)
    #end
    private $column.javaType $column.javaField;

#end
}